Declare and print a variable with the name "name" containing your name.

In [230]:
name ="LAIBAH SAEED"
print("Hey i am " ,name  +  ". Roll no : 01 ")

Hey i am  LAIBAH SAEED. Roll no : 01

Create two variables, x and y, and swap their values without using a third variable.

In [232]:
x = 100
y = 200
x,y=y,x
print("The value of x = ",x)
print("The value of y = ",y)
print("The swaped value of x and y are",x,y)
#example 2
fruit = "tomato"
vegetable = "orange"
print("fruits = ",fruit)
print("vegetables = ",vegetable)
fruit,vegetable=vegetable,fruit
print("The swaped value of fruits and vegetables are",fruit,vegetable)
#example 3
color = "mango"
fruit = "yellow"
print("color :  ", color)
print("fruit :  ", fruit)
color,fruit = fruit,color
print("The swaped value of color and fruits are",color,fruit)

The value of x =  200
The value of y =  100
The swaped value of x and y are 200 100
fruits =  tomato
vegetables =  orange
The swaped value of fruits and vegetables are orange tomato
color :   mango
fruit :   yellow
The swaped value of color and fruits are yellow mango

Calculate the area of a rectangle with length and width stored in variables.

In [234]:
l = 100
w = 300 
area = l * w
print(area)

30000

Create a variable with a long string (multi-line) and print its length.

In [236]:
multi_line = "Hey ! I AM LAIBAH. \n HOW ARE YOU , \n ITS GREAT TO SEE YOU!. " 
print(multi_line,)
print("The length of multi line string is ",len(multi_line))

Hey ! I AM LAIBAH.
 HOW ARE YOU ,
 ITS GREAT TO SEE YOU!.
The length of multi line string is  60

Create a variable to store your favorite number and print it.

In [238]:
my_num = 18
print (my_num)
print("My favourite number is : " , my_num)

18
My favourite number is :  18

In [239]:
my_num = "18"
print ("fav: " +  my_num )

fav: 18

Declare and assign values to multiple variables to represent the sides of a triangle. Calculate and print its perimeter.

In [241]:
x = 10 
y = 90 
z = 20
print(x + y + z)

120

In [242]:
x,y,z = 40,50,60
perimeter = x + y + z
print("The perimeter of triangle is = ",perimeter)

The perimeter of triangle is =  150

Store the price of an item in one variable and the quantity in another. Calculate and print the total cost.

In [244]:
price = 1000
quan = 100
cost = price * quan
print("The total cost is : " ,cost)

The total cost is :  100000

Declare a constant variable for the value of pi (Ï€) and use it to calculate the circumference of a circle with a given radius.

In [246]:
pi = 3.1416
r = 14
cir = 2 * pi * r
print("the circumference of circle is =",cir)

the circumference of circle is = 87.9648

Calculate the sum of two numbers, a and b.

In [248]:
a = 10
b = 20
x = 200
y = 300
sum = x + y
print(a + b)
print(sum)

30
500

Calculate the product of two numbers, a and b.

In [250]:
x = 8 
product = x * x
print(product)

64

Calculate the result of dividing a by b (with proper error handling for division by zero).

In [28]:

a = 50 
b = 60


try:
    div = a / b
    print(a, b)
    print("Dividing a by b we get =", div)
except ZeroDivisionError:
    print("Cannot divide by zero")
#EXAMPLE
a = 50 
b = 0


try:
    div = a / b
    print(a, b)
    print("Dividing a by b we get =", div)
except ZeroDivisionError:
    print("Cannot divide by zero")

50 60
Dividing a by b we get = 0.8333333333333334
Cannot divide by zero

Calculate the square of a number x.

In [254]:
x = 9999
y = x * x
print(y)

y = 6565
z = y**2
print(z)

99980001
43099225

In [255]:
def square(x):
    return x * x

a = 8888
a = square(a)
print(a)

78996544

Calculate the remainder when a is divided by b.

In [257]:
a = 400 
b = 100
reminder = a % b
print (reminder)
u = 900 
v = 10
reminder = v % u
print("the value of reminder is =",reminder)

0
the value of reminder is = 10

 Calculate the result of dividing 17 by 3 and print the quotient and remainder.

In [259]:
a = 17
b = 3
qoutient = a // b
reminder = a % b
print("Q =",qoutient)
print("R =",reminder)

Q = 5
R = 2

Calculate the area of a square with a given side length.

In [261]:
a = 100
area = a**2 
print(area)

10000

Calculate the average of five numbers.

In [263]:
avg = (3 + 5 + 6 + 8 + 9) / 5
print(avg)

6.2

Create a variable with a boolean value and print its opposite value.

In [265]:
foggy_weather = True
print("original value:", foggy_weather)
print("negate value:", not foggy_weather)

original value: True
negate value: False

Store your birth year in a variable and calculate your age.

In [267]:
birth_year = 2000
current_year = 2024
age = current_year - birth_year
print("I am ",age," years of age.")

I am  24  years of age.

Create a variable with an integer and convert it to a float.

In [269]:
a  = 188
f = float(a)
print("The value of float number a is : ",f)

The value of float number a is :  188.0

Create a variable with a float and convert it to an integer.

In [271]:
a  = 18.90909
I = int(a)
print("The value of integer a is : ",I)

The value of integer a is :  18

Create a variable with a string that represents an integer and convert it to an integer.

In [273]:

l = "18"
s = int(l)
print(s)  
print(type(s))

18
<class 'int'>

Create a variable with a string that represents a float and convert it to a float.

In [275]:
v = "3.999999"
f = float(v)
print(f)
print(type(f))

3.999999
<class 'float'>

Create a variable with a number and convert it to a string.

In [277]:
v = 181224
string =v
print(type(string))
print(v)

<class 'int'>
181224

In [278]:
v = 181224
string =str(v)
print(type(string))
print(v)

<class 'str'>
181224

Calculate the absolute value of a number.

In [280]:
number_1, number_2 =-60, -90
print(number_1,number_2)
absolute1 = abs(number_1)
absolute2 = abs(number_2)
print(absolute1,absolute2)

-60 -90
60 90

Calculate the square root of a number.

In [282]:
import math 
num = 25 
square_root = math.sqrt(a)
print("The square root of a num is = ",square_root)

The square root of a num is =  4.348458347506619

Calculate the value of a raised to the power of b.

In [284]:
a = 5
b = 2
power = a**b
print("The value of a raised to the power of b =",power)

The value of a raised to the power of b = 25

Round a float to the nearest integer.

In [286]:

a = 5.999
round_number = int(a)
print(a)
print(round_number)

5.999
5

Combine multiple conditions using logical operators and print the result.

In [288]:
X = 100
Y = 200 
Z = 100 
result = (X < Y) and (Y < Z)
print("The value of and is = ",result)

# OR 
X = 100
Y = 200 
Z = 100 
result = (X < Y) or (Y < Z)
print("The value of or is = ",result)

#not
X = 100
Y = 200 
Z = 100 
result = not (X < Y) , not (Y< Z)
print("The value of not is = ",result)

The value of and is =  False
The value of or is =  True
The value of not is =  (False, True)

In [289]:
# example 2
power_on  = True
switch_on = False

bulb_on = power_on  and switch_on
print("The bulb is on:", bulb_on) 

bulb_on = power_on or switch_on
print("The bulb is on even if power is on :", bulb_on) 
#not
bulb_on = not(power_on)
print("The bulb is on:", bulb_on)

The bulb is on: False
The bulb is on even if power is on : True
The bulb is on: False

Generate a random number between 1 and 100.**(challenging)**

In [291]:
import random

random_numb= random.randint(1, 100)
print("Random number between 1 and 100:", random_numb)

Random number between 1 and 100: 4